@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300 !important;
  padding: 10px;
}

.font-change {
  font-weight: 300 !important;
}

.columna {
  padding: 10px;
}

header {
  margin-bottom: 10px;
}

h1 {
  margin: 20px;
}

h2 {
  margin: 20px;
}

.scroll {
  height: 500px; /* Just for the demo          */
  overflow-y: auto; /* Trigger vertical scroll    */
  overflow-x: hidden; /* Hide the horizontal scroll */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
